{% extends 'base.html' %}
{% block content %}

<!-- Hero Section -->
<section id="hero" class="h-screen flex items-center relative">
    <div class="absolute inset-0 bg-black/50"></div>
    <div class="container mx-auto px-6 text-center relative z-10">
        <h1 class="text-4xl font-bold text-[#CFFFE2] mb-8 leading-tight">
            درحال یادگیری، ایده‌پردازی، و ترسیم تراوشات ذهنی...!
        </h1>
        <!-- <a href="resume.html" class="bg-[#A2D5C6] hover:bg-[#8bb8ac] text-[#000000] font-bold py-3 px-8 rounded-full transition-all duration-300 inline-block transform hover:scale-105">مشاهده رزومه</a> -->
    </div>
</section>

<!-- About Section -->
<section id="about" class="py-20 bg-[#000000]">
    <div class="container mx-auto px-6">
        <h2 class="text-2xl font-bold text-center text-white mb-12">درباره‌من</h2>
        <div class="flex flex-col md:flex-row items-center gap-10">
            <div class="md:w-1/3 text-center">
                <img src="https://i.ibb.co/yF2yj2xm/IMG-20250330-141458-602.jpg" alt="عکس پروفایل امین‌رضا ترکی" width="256" height="256" loading="lazy" class="rounded-full w-64 h-64 mx-auto shadow-lg border-4 border-[#A2D5C6]/50 object-cover">
            </div>
            <div class="md:w-2/3 text-center md:text-right text-base">
                <p class="mb-4 text-[#F6F6F6]/90">امین‌رضا ترکی هستم.</p>
                <p class="mb-4 text-[#F6F6F6]/90">سال ۱۳۸۶ در شیراز متولد شدم.</p>
                <p class="mb-4 text-[#F6F6F6]/90">دبیرستان ریاضی خوندم. به صورت خودآموز علایقم رو دنبال کردم، و همواره مشتاق یادگیری و ساختن چیزهای جدید هستم...</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}