{% extends 'base.html' %}
{% block content %}

<section id="portfolio" class="py-20 min-h-screen">
    <div class="container mx-auto px-6 pt-16">
        <div class="columns-3 md:columns-5 gap-4">
            {% for project in projects %}
                <div class="break-inside-avoid mb-4 rounded-lg overflow-hidden shadow-lg">
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="w-full h-auto object-cover">
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}