{% extends 'base.html' %}
{% block content %}

<main>
    <!-- Full Resume Section -->
    <section id="full-resume" class="py-20 min-h-screen">
        <div class="container mx-auto px-6 pt-16 text-right">
            <h2 class="text-2xl font-bold text-center text-white mb-12">رزومه</h2>
            <div class="bg-[#111111] p-8 rounded-xl shadow-lg max-w-4xl mx-auto text-base">
                <div class="space-y-8">
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">هنرهای تجسمی</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>تسلط نیمه‌حرفه‌ای بر نرم‌افزارهای Marmoset Hexels, Adobe Photoshop</li>
                        <li>تسلط مقدماتی بر نرم‌افزارهای Figma, Adobe XD, Adobe Illustrator</li>
                        <li>تسلط نیمه‌حرفه‌ای بر طراحی تایپوگرافی، لوگوتایپ و پوستر</li>
                        <li>تسلط نیمه‌حرفه‌ای بر تصویرسازی</li>
                        <li>تسلط نیمه‌حرفه‌ای بر فتومنیپیولیشن و فتومونتاژ</li>
                        <li>تسلط مقدماتی بر خطوط کوفی و نستعلیق</li>
                        <li>تسلط ابتدایی بر خطوط نسخ و ثلث</li>
                        <li>تسلط مقدماتی بر طراحی رابط‌کاربری</li>
                        <li>تجربه طراحی و اجرای کتیبه و دیوارنویسی</li>
                        <li>تجربه طراحی در نماهنگ تلوزیونی "کاکوی امام رضا (ع)"</li>
                        <li>توانمندی تولید تصاویر هنری و رئال با استفاده از مدل‌های هوش‌مصنوعی</li>
                    </ul></div>
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">تدوین</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>تسلط نیمه‌حرفه‌ای بر نرم‌افزار Adobe Premiere و دیگر نرم‌افزارهای تدوین ویدئو</li>
                        <li>تدوین نماهنگ تلوزیونی "واژگونی"</li>
                        <li>تولید کلیپ‌های متعدد جهت حوزه هنری، مجتمع شاکرین و غیره</li>
                        <li>توانمندی تولید ویدئو با استفاده از مدل‌های هوش‌مصنوعی</li>
                        <li>کسب رتبه اول بخش تدوین در مسابقه دانش‌آموزی "تفنگ پدری"</li>
                    </ul></div>
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">صوت</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>تسلط نیمه‌حرفه‌ای بر نرم‌افزار Adobe Audition و دیگر نرم افزارهای ویرایش صوت</li>
                        <li>تولید پادکست‌های متعدد در موضوعات فرهنگی، اجتماعی و مذهبی</li>
                        <li>تجربه صدابرداری در مجموعه تلوزیونی "بی‌جرم و بی‌جنایت"</li>
                        <li>مطالعه ابتدایی درباره نت‌های موسیقی و برخی سازها</li>
                        <li>توانمندی تولید موسیقی و ویرایش صوت با استفاده از مدل‌های هوش‌مصنوعی</li>
                        <li>کسب رتبه اول بخش پادکست در پویش کشوری "معجزه انقلاب"</li>
                    </ul></div>
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">عکاسی و فیلم‌برداری</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>تسلط مقدماتی بر فیلم‌برداری و عکاسی</li>
                        <li>تجربه عکاسی و فیلم‌برداری در رویدادهای حوزه هنری، مجتمع شاکرین و غیره</li>
                        <li>توانمندی تولید ویدئو با استفاده از مدل‌های هوش‌مصنوعی</li>
                        <li>کسب رتبه سوم مسابقه عکاسی ناحیه</li>
                    </ul></div>
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">کدنویسی</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>تسلط نیمه‌حرفه‌ای بر زبان Python</li>
                        <li>تسلط مقدماتی بر زبان‌های HTML, CSS, PHP, Javascript و غیره</li>
                        <li>مطالعات مقدماتی در حوزه شبکه</li>
                        <li>مطالعات و تمرینات مقدماتی در حوزه تست‌نفوذ تلفن‌های هوشمند</li>
                        <li>تجربه ساخت بدافزارهای مختلف (مثل شل‌معکوس، باج‌افزار، کی‌لاگر و غیره) برای سیستم‌های Windows و Unix بدون تشخیص آنتی‌ویروس‌ها</li>
                        <li>تجربه استخراج داده، تست‌نفوذ و حملات (مثل داس، دیکشنری، بروت‌بروت‌فورس و غیره) در سایت‌های آزمایشگاهی و آموزشی</li>
                        <li>درحال ساخت یک سیستم زمانی مشابه انسان برای کامپیوترها، که می‌تواند منجر به درک برخی احساسات (مانند بی‌حوصلگی، عجله و غیره)، تصمیم‌گیری و اولویت‌بندی در انجام کارها، و بهینه‌تر شدن پردازش‌ها شود</li>
                        <li>نوشتن تحلیل‌های مختلف درباره هوش‌مصنوعی</li>
                        <li>توانمندی برنامه‌نویسی اپلیکیشن، سایت و غیره با استفاده از مدل‌های هوش‌مصنوعی</li>
                        <li>کسب مقام چهارم کشوری و تنها گروه برگزیده جنوب کشور در مسابقه دانش‌آموزی بازی‌سازی کیبورد، آکادمی همراه‌اول</li>
                    </ul></div>
                    <div><h3 class="text-lg font-bold text-[#A2D5C6] mb-4 border-b border-[#A2D5C6]/20 pb-2">مطالعات آزاد</h3><ul class="list-disc list-inside space-y-2 text-[#F6F6F6]/90">
                        <li>مطالعه ابتدایی در زمینه‌های روانشناسی، فلسفه، جامعه‌شناسی و...</li>
                        <li>تسلط بر اصول و تکنیک‌های تولید محتوا در رسانه‌های دیجیتال</li>
                        <li>تحقیق و نوشتن تحلیل در حوزه‌های مفهومی مانند هوش‌مصنوعی و ماهیت زمان</li>
                        <li>تجربیات ابتدایی در نویسندگی و شعر</li>
                        <li>علاقه‌مند به مطالعه در حوزه‌های علمی مانند کیهان‌شناسی، ژنتیک، رباتیک و...</li>
                    </ul></div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}