{% extends 'base.html' %}
{% block content %}

<main>
    <!-- Socials Section -->
    <section id="socials" class="py-20 min-h-screen">
        <div class="container mx-auto px-6 pt-16 text-center">
            <h2 class="text-2xl font-bold text-white mb-12">صفحات‌مجازی</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8 text-lg">
                <a href="https://Instagram.com/artorki_creative" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">اینستاگرام</a>
                <a href="https://Pinterest.com/artorki_creative" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">پینترست</a>
                <a href="https://Behance.net/artorkii" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">بیهنس</a>
                <a href="https://Github.com/artorki" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">گیت‌هاب</a>
                <a href="https://Medium.com/@artorki_self" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">مدیوم</a>
                <a href="https://Virgool.io/@artorkiiii" target="_blank" class="font-semibold text-[#A2D5C6] hover:text-[#F6F6F6] transition-colors duration-300">ویرگول</a>
            </div>
        </div>
    </section>
</main>

{% endblock content %}