{% extends 'base.html' %}
{% block content %}

<!-- Writings Section -->
<section id="writings" class="py-20 min-h-screen">
    <div class="container mx-auto px-6 pt-16">
        <h2 class="text-2xl font-bold text-center text-white mb-16">آخرین نوشته‌ها</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl mx-auto">
            <div class="writing-card bg-[#111111] p-6 rounded-xl flex flex-col text-center">
                <h3 class="text-lg font-bold text-white mb-4 flex-grow">هوش مصنوعی: مدل‌ها، چالش‌ها و آینده</h3>
                <a href="https://vrgl.ir/HA8Dy" target="_blank" class="mt-auto bg-[#A2D5C6] hover:bg-[#8bb8ac] text-[#000000] font-semibold py-2 px-4 rounded-full transition-colors duration-300">مطالعه در ویرگول</a>
            </div>
            <div class="writing-card bg-[#111111] p-6 rounded-xl flex flex-col text-center">
                <h3 class="text-lg font-bold text-white mb-4 flex-grow">هوش‌مصنوعی: مهندسی ناخودآگاه</h3>
                <a href="https://vrgl.ir/s9jtX" target="_blank" class="mt-auto bg-[#A2D5C6] hover:bg-[#8bb8ac] text-[#000000] font-semibold py-2 px-4 rounded-full transition-colors duration-300">مطالعه در ویرگول</a>
            </div>
            <div class="writing-card bg-[#111111] p-6 rounded-xl flex flex-col text-center">
                <h3 class="text-lg font-bold text-white mb-4 flex-grow">هوش‌مصنوعی، در دستان نابینا!</h3>
                <a href="https://vrgl.ir/J4eiT" target="_blank" class="mt-auto bg-[#A2D5C6] hover:bg-[#8bb8ac] text-[#000000] font-semibold py-2 px-4 rounded-full transition-colors duration-300">مطالعه در ویرگول</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}